body {
  text-align: center;
}
h2 {
  text-align: center;
  text-decoration: underline;
  background-color: cadetblue;
  display: block;
}
.css-style h1 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}
.para-1 {
  background-color: #cee7fb;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
.single-friend {
  background-color: cadetblue;
  margin: 20px;
  display: inline-block;
  padding: 20px;
  border: 2px solid red;
}

.props-area {
  text-align: center;
}
.props-area h1 {
  text-decoration: underline;
}
.explore-map h1 {
  text-align: center;
  text-decoration: underline;
}
